.iconlist{
    margin-right: 8px;
}
.settings.iconright{
    margin-right: 30px;
    font-size: x-large;
    margin-top: 20px;
}
.iconright:hover,.sv:hover,.cl:hover{
    color: #78B83E;
}
.settings{
    color: white;
    margin-top: 50px;
}
.settings.setMenu{
    height: 30px;
    opacity: 0;
    font-size: x-large;
    transition: all 0.4s ease 0s;
}

#drop_zone {
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    color: #bbb;
    margin-left: 18px;
    margin-right: 33px;
    height: 40px;
    margin-bottom: 10px;
}

.qvplaceholder.drop-hover{
    border: 3px solid #ff8e00;
}

html,
body {
    overflow: auto;
}
div.qv-panel-top {
    position: relative;
}
section.configurator {
    margin: 20px;
    width: 85%;
    height: 50%;
}
section.configurator div.cnt.cnt_objects div.scrollable {
    max-height: 382px;
    padding-bottom: 10px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius: 5px;
    background-color: white;
}
section.configurator div.cnt {
    width: 100%;
    border: 0px solid #b3b3b3;
    display: inline-block;
    height: 100%;
    position: relative;
}
section.configurator div.cnt div.qui-buttonset-right {
    position: relative;
    top: -27px;
    float: right;
}
section.configurator div.cnt div.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter: alpha(opacity=10);
    opacity: 0.1;
}

section.configurator .qui-searchfield{
    width: 100%;
    margin-bottom: 20px;
}
section.configurator header{
    width: 100%;
}

section.configurator div.cnt div.scrollable {
    max-height: 412px;
    height: 90%;
    overflow-x: hidden;
}
section.configurator div.cnt ul li {
    cursor: pointer;
    display: flex;
    padding: 5px 5px 10px 10px;
}
section.configurator div.cnt ul li:hover,
section.configurator div.cnt ul li.active {
    background-color: #f2f2f2;
}
section.configurator div.cnt ul li.header {
    font-weight: bold;
    background: #f2f2f2;
}
section.configurator div.cnt ul li.header:hover,
section.configurator div.cnt ul li.header.active {
    background: #b3b3b3;
}
section.configurator div.cnt ul div.snapshot-text {
    position: absolute;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}
section.configurator div.cnt .ws-button-panel {
    top: 0;
    z-index: 0;
    width: 100%;
    height: 36px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

section.configurator div.cnt .ws-button-panel button.left {
    border-top-left-radius: 5px;
}
section.configurator div.cnt .ws-button-panel button.right {
    border-top-right-radius: 5px;
}
section.configurator div.cnt .ws-button-panel button {
    height: 36px;
    line-height: 32px;
    margin: 0;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-shadow: 1px 0 0 #4d4d4d;
    -moz-box-shadow: 1px 0 0 #4d4d4d;
    box-shadow: 1px 0 0 #4d4d4d;
    border-right: 0px solid #717171;
    background-color: #b3b3b3;
}
section.configurator div.cnt .ws-button-panel button.active {
    color: #595959;
    background: #ffffff;
}
section.configurator div.cnt iframe {
    width: 100%;
    height: 88%;
    position: absolute;
    top: 45px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
section.configurator div.cnt .preview_cnt {
    width: 100%;
    height: 100%;
    min-height: 456px;
    position: relative;
}
section.configurator div.cnt .preview_cnt input {
    width: 99%;
}
section.configurator div.cnt.preview {
    min-width: 500px;
    min-height: 500px;
    resize: both;
    overflow: hidden;
    padding-bottom: 20px;
}

.qvtarget{
    border: 1px dashed #269abc;
}

select#tempSelect option  {
    background-image:url('../img/qlik.png');
}

.qv.caret.big{
    border-top: 8px solid;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    margin-top: 15px;
    float:right
}
.icon-qmc-App:before{
    content:"\077";
    font-size:24px;
}
#sidebar-wrapper li{
    border-bottom-width:0px;
}

#wrapper {
    padding-left: 350px;
    transition: all 0.4s ease 0s;
    height:100%;
}

#sidebar-wrapper {
    background: url('../img/qlik.png') no-repeat, #5b5a59;
    margin-left: -350px;
    left: 350px;
    width: 350px;
    position: fixed;
    height: 100%;
    z-index: 1000;
    transition: all 0.4s ease 0s;
}

#page-content-wrapper {
    width: 100%;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 350px;
    list-style: none;
    margin: 0;
    padding: 0;
    cursor:pointer;
}

.sidebar-nav .btn-group li:hover {
    background-color: #f2edf1;
}
.sidebar-nav li {
    line-height: 40px;
    text-indent: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sidebar-nav li a {
    color: white;
    display: block;
    text-decoration: none;
}
#sidebar-wrapper .panel-group div{

    padding: 0px 2px 0px 2px;
    box-shadow:0 0px 0px rgba(0, 0, 0, 0.05);
}
#sidebar-wrapper .panel-inner div{
    padding: 0px 0px 0px 0px;
}

#sidebar-wrapper .panel div{
    padding: 0px 0px 0px 0px;
}

.panel a:hover {

    text-decoration: none;
}
.sidebar-nav li a:hover {
    color: #fff;
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    line-height: 60px;
    font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
    color: white;
    padding-left:100px;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.content-header {
    height: 65px;
    line-height: 65px;
}


.content-header h1 {
    margin: 0;
    margin-left: 20px;
    line-height: 65px;
    display: inline-block;
}

#menu-toggle {
    display: none;
}

.inset {
    padding: 20px;
}

/* @media (max-width:1224px) {

#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  left: 0;
  cursor:pointer;
}

#wrapper.active {
  position: relative;
  left: 350px;
}

#wrapper.active #sidebar-wrapper {
  left: 350px;
  width: 350px;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
  display: inline-block;
}

.inset {
  padding: 15px;
}

} */