<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavCtrl">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="#/mashups" class="navbar-brand">{{ mashup.navbar.brand }}</a>
		</div>

		<div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
			<ul class="nav navbar-nav">
				<li ng-repeat-start="navItem in mashup.navbar.left" ng-if="false"></li>
				
				<li ng-if="navItem.items.length == 0">
					<a href="#/{{state.route.mashupId}}/{{ navItem.page }}">{{ navItem.title }}</a>
				</li>
				
				<li ng-if="navItem.items.length > 0" class="dropdown" dropdown>	
					<a href="#" class="dropdown-toggle " dropdown-toggle data-toggle="dropdown" role="button" aria-expanded="false">{{ navItem.title }} <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li ng-repeat="navSubItem in navItem.items" ng-class="{'divider': navSubItem.type == 'sep'}">
							<a href="#/{{state.route.mashupId}}/{{ navSubItem.page }}" ng-if="navSubItem.type == 'link'">{{navSubItem.title}}</a>
						</li>
					</ul>
				</li>
				
				<li ng-repeat-end ng-if="false"></li>
			</ul>


			<ul class="nav navbar-nav navbar-right" >
				<li style="padding-right: 15px;">
					<div class="btn-group">
						<button type="button" class="btn btn-default navbar-btn" ng-click="switchEdit()" ng-class="{'btn-warning': state.edit}"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
						<button ng-if="state.modified" type="button" class="btn btn-success navbar-btn" ng-click="save()"><span class="glyphicon glyphicon-save"></span> Save</button>
						<button ng-if="state.edit" type="button" class="btn btn-default navbar-btn" ng-click="configPage()"><span class="glyphicon glyphicon-wrench"></span> Page</button>
					</div>
				</li>
				<li style="padding-right: 15px;">
					<div class="btn-group">
						<button ng-if="state.edit && state.multiselect" type="button" class="btn btn-primary navbar-btn"><span class="glyphicon glyphicon-plus-sign"></span></button>
						<button ng-if="state.edit && state.multiselect" type="button" class="btn btn-default navbar-btn" ng-click="clearPanels()"><span class="glyphicon glyphicon-minus-sign"></span> Clear</button>
						<button ng-if="state.edit && state.multiselect" type="button" class="btn btn-default navbar-btn" ng-click="configPanels()"><span class="glyphicon glyphicon-cog"></span> Configure</button>
						<button ng-if="state.edit && state.multiselect" type="button" class="btn btn-default navbar-btn" ng-click="removePanels()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div ng-if="config.header.show" style="margin-top: 50px;"></div>
<div ng-if="!config.header.show" style="margin-top: 70px;"></div>

<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>

<div class="jumbotron" ng-if="config.header.show">
	<div class="container">
		<h1>{{config.header.title}}</h1>
		<p>{{config.header.description}}</p>
		
		<p><a class="btn btn-primary btn-lg" ng-click="open()" role="button">Learn more &gt;&gt;</a></p>
	</div>
</div>

<div class="container marketing">

	<div class="row sortable" ui-sortable="sortableOptions" ng-model="row" ng-repeat="row in config.rows">
		<div class="col-xs-12 col-sm-{{item.width}} col-lg-{{item.width}} col-md-{{item.width}}" ng-class="{ 'mad-max': item.max }" ng-repeat="item in row">
			<div class="panel panel-{{item.color}}" style="height: 100%;">
				<div class="panel-heading" ng-if="item.showTitle || state.edit">
					<div class="container-fluid panel-container" style="padding-left:0px; padding-right:0px;">
						<ul class="list-inline">
							<li class="col-xs-12">
								<span class="btn-group pull-right">
									<i ng-if="state.edit" class="btn btn-default glyphicon glyphicon-plus-sign" ng-class="{'btn-primary': selected}" ng-click="selectPanel(this)"></i>
									<i ng-if="state.edit" ng-disabled="state.multiselect" class="btn btn-default glyphicon glyphicon-cog" ng-click="configPanel($index)"></i>
									<i ng-if="state.edit" ng-disabled="state.multiselect" class="dragHandle btn btn-default glyphicon glyphicon-move" style="cursor: move;"></i>
									<i ng-if="state.edit" ng-disabled="state.multiselect" class="btn btn-default glyphicon glyphicon-trash" ng-click="deletePanel($index)"></i>
									<i ng-if="!state.edit" class="btn btn-default glyphicon glyphicon-resize-full" ng-click="item.max = true"></i>
								</span>
								<h4>
									{{item.title}}
								</h4>
							</li>
						</ul>
					</div>
				</div>
				<div class="panel-body" style="height: 100%;">
					<div style="width: 100%; height: {{item.max ? '100%' : item.height + 'px'}};" class="qvtarget qvplaceholder" qv-placeholder="item.id"></div>
				</div>
			</div>
		</div>
		<div ng-if="state.edit" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="panel panel-default" >
				<div class="panel-body">
					<button type="button" class="btn btn-default btn-lg" ng-click="addPanel()">
						<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add item ...
					</button>
				</div>
			</div>
		</div>
	</div>

	<footer>
		<p class="pull-right"><a href="#">Back to top</a></p>
		<p>2015 Company, Inc.<a href="">Privacy</a><a href="">Terms</a></p>
	</footer>

</div>

<div id="CurrentSelections" style="position:fixed;bottom:0px;width:100%" data-qvid="CurrentSelections" class="qvobject"></div>