<!DOCTYPE html>
<html style="height: 100%;width: 100%">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="content">
    <div id="QV01" style="position:absolute;left:650px;height: 300px;width: 300px" class=" qvplaceholder qvtarget" ></div>
    <div id="QV02" style="position:absolute;left:450px;height: 250px;width: 250px" class=" qvplaceholder qvtarget" ></div>
    <div id="QV03" style="position:absolute;left:250px;height: 225px;width: 250px" class=" qvplaceholder qvtarget" ></div>
</div>
</body>
</html>