<div ng-show="curpage=='dashboard'" class="container-fluid" style="overflow:auto;height:85%;padding-top:10px">
	<div class="row height qv">
		<div class="col-md-6 qv" style="height:50%">
			<div class="well height qv">
				<div id="QV01" class="qvplaceholder qvtarget height"></div>
			</div>
		</div>
		<div class="col-md-6 qv" style="height:50%">
			<div class="well height">
				<div id="QV02" class="qvplaceholder qvtarget height" ></div>
			</div>
		</div>
		<div class="col-md-6 qv" style="height:50%">
			<div class="well height qv">
				<div id="QV03" class="qvplaceholder qvtarget height"></div>
			</div>
		</div>
		<div class="col-md-6 qv" style="height:50%">
			<div class="well height qv">
				<div id="QV04" class="qvplaceholder qvtarget height"></div>
			</div>
		</div>
	</div>
</div>