<div ng-show="curpage=='analysis'" class="container-fluid" style="overflow:auto;height:85%;padding-top:10px">
	<div class="row height qv" >
		<div class="col-md-2 height qv">
			<div class="well height qv">
				<div id="QV05" class="qvplaceholder qvtarget height"></div>
			</div>
		</div>
		<div class="col-md-10 half qv">
			<div class="well height">
				<div id="QV06" class="qvplaceholder qvtarget height"></div>
			</div>
		</div>
		<div class="col-md-10 half qv">
			<div class="well height qv">
				<div id="QV07" class="qvplaceholder qvtarget height"></div>
			</div>
		</div>
	</div>
</div>