<div id="preloader2">
			<div id="preloader-logo2">
				<img src="assets/img/preloader-logo.png" alt="Logo">
			</div>
			<div id="preloader-icon2">
				<i class="im-spinner icons-spin"></i>
			</div>
		</div>
<div id="page-heading" class="page-header">
	<h2 id="stapp15" class="editable"><i class="icon im-home2"></i> Sales Margin</h2>
	<!-- Start .bredcrumb -->
	<ul id="crumb" class="breadcrumb">
		<li><i class="im-home6"></i>Home</li>
		<li id="stapp16" class="editable"> Sales Margin</li>
	</ul>
	<!-- End .breadcrumb -->
</div>
<!-- Start .content-inner -->
<div class="content-inner">
	<!-- Start .row -->
	<div id="CurrentSelections" data-qvid="CurrentSelections" class="center qvobject"></div>
	<div class="row">
		<div class="col-lg-12 col-md-12 sortable-layout">
			<div class="panel panel-default plain toggle panelMove panelClose panelRefresh">
				<!-- Start .panel -->
				<div class="panel-heading">
					<h4 id="stapp17" class="editable panel-title">Sales Margin</h4>
				</div>
				<div class="panel-body">
				   <div id="QV05" style="height: 500px;" class="qvplaceholder qvtarget"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- End .row -->
</div>
<script>restoreObj();makeDroppy();$("#content").height($(window).height()-52);</script>