<div id="preloader2">
	<div id="preloader-logo2">
		<img src="assets/img/preloader-logo.png" alt="Logo">
	</div>
	<div id="preloader-icon2">
		<i class="im-spinner icons-spin"></i>
	</div>
</div>
<div id="page-heading" class="page-header">
	<h2 id="stapp8" class="editable"><i class="icon im-home2"></i> Dashboard</h2>
	<!-- Start .bredcrumb -->
	<ul id="crumb" class="breadcrumb">
		<li><i class="im-home6"></i>Home</li>
		<li id="stapp9" class="editable"> Dashboard</li>
	</ul>
	<!-- End .breadcrumb -->
</div>
<!-- Start .content-inner -->
<div class="content-inner">
	<!-- Start .row -->
	<div id="CurrentSelections" data-qvid="CurrentSelections" class="center qvobject"></div>
	<div class="row">
		<div class="col-lg-10 col-md-9 sortable-layout">
			<div class="panel panel-default plain toggle panelMove panelClose panelRefresh">
				<!-- Start .panel -->
				<div class="panel-heading">
					<h4 id="stapp10" class="editable panel-title">Revenue</h4>
				</div>
				<div class="panel-body">
				   <div id="QV01" style="height: 250px;" class="qvplaceholder qvtarget" ></div>
				</div>
			</div>
			<div class="panel panel-default plain toggle panelMove panelClose panelRefresh">
					<!-- Start .panel -->
					<div class="panel-heading">
						<h4 id="stapp11" class="editable panel-title">Expenses</h4>
					</div>
					<div class="panel-body" style="line-height:1">
						<div class="col-lg-6 col-md-6 sortable-layout">
							<div id="QV02" style="height: 250px;" class="qvplaceholder qvtarget" ></div>
						</div>
						<div class="col-lg-6 col-md-6 sortable-layout">
							<div id="QV03" style="height: 250px;" class="qvplaceholder qvtarget" ></div>
						</div>	
					</div>
			</div>  
		</div>
		<div class="col-lg-2 col-md-3 sortable-layout">
			<div class="panel panel-teal panelMove">
				<div class="panel-heading">
					<h4 id="stapp12" class="editable panel-title">Filters</h4>
				</div>
				<div id="QV04" style="height: 267px;" class="qvplaceholder qvtarget"></div>
			</div>
			<div class="panel panel-teal panelMove">
				<!-- Start .panel -->
				<div class="panel-heading">
					<h4 id="stapp13" class="editable panel-title"><i class="im-camera"></i> Instagram </h4>
					<div class="pull-right mt5">
						<a id="stapp14" href="#" class="editable color-white">@Qlik</a>
					</div>
				</div>
				<div class="panel-body p0">
					<div class="instagram-widget">
						<div class="instagram-widget-header gray-bg">
							<div class="col-lg6 col-md-6 col-xs-6 text-center">
								<!-- col-lg-4 start here -->
								<a href="#">
									<p class="instagram-widget-text">Followers</p>
									<strong class="instagram-widget-number">12560</strong> 
								</a>
							</div>
							<!-- col-lg-4 end here -->
							<div class="col-lg6 col-md-6 col-xs-6  text-center">
								<!-- col-lg-4 start here -->
								<a href="#">
									<p class="instagram-widget-text">Shots</p>
									<strong class="instagram-widget-number">176</strong> 
								</a>
							</div>
							<!-- col-lg-4 end here -->
						</div>
						<div class="instagram-widget-image">
							<div id="instagram-widget" class="carousel slide">
								<!-- Indicators -->
								<ol class="carousel-indicators dotstyle">
									<li data-target="#instagram-widget" data-slide-to="0" class="active"><a href="#">Image 1</a>
									</li>
									<li data-target="#instagram-widget" data-slide-to="1"><a href="#">Image 2</a>
									</li>
									<li data-target="#instagram-widget" data-slide-to="2"><a href="#">Image 3</a>
									</li>
								</ol>
								<div class="carousel-inner">
									<figure class="item active">
										<img class="img-responsive" src="assets/img/instagram/instagram.jpg" alt="image">
									</figure>
									<figure class="item">
										<img class="img-responsive" src="assets/img/instagram/instagram2.jpg" alt="image">
									</figure>
									<figure class="item">
										<img class="img-responsive" src="assets/img/instagram/instagram3.jpg" alt="image">
									</figure>
								</div>
							</div>
							<!-- End Carousel -->
						</div>
						<div class="instagram-widget-footer">
							<div class="col-lg-6 col-md-6 col-xs-6 text-center">
								<!-- col-lg-6 start here -->
								<p>
									<a href="#">
										<i class="im-bubbles mr5"></i> 
										<strong class="instagram-widget-number">17</strong>
									</a>
								</p>
							</div>
							<!-- col-lg-6 end here -->
							<div class="col-lg-6 col-md-6 col-xs-6 text-center">
								<!-- col-lg-6 start here -->
								<p>
									<a href="#">
										<i class="im-heart3 mr5"></i> 
										<strong class="instagram-widget-number">27</strong> 
									</a>
								</p>
							</div>
							<!-- col-lg-6 end here -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End .row -->
</div>
<script>restoreObj();makeDroppy();
$("#content").height($(window).height()-52);
$( window ).resize(function() {
    $("#content").height($(window).height()-52);
});

</script>