<!DOCTYPE html>
<html qva-bootstrap="false" lang="en" style="overflow:hidden" class="qv">
    <head>
        <meta charset="utf-8">
        <title>Dashboard</title>
        <!-- Mobile specific metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!-- Force IE9 to render in normal mode -->
        <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
        <!-- Import google fonts - Heading first/ text second -->
        <!-- <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700' rel='stylesheet' type='text/css'> -->
        <!-- Css files -->
        <!-- Icons -->
        <link type="text/css" rel="stylesheet" href="../../css/bar.css">


        <link href="assets/css/icons.css" rel="stylesheet" />
        <!-- Bootstrap stylesheets (included template modifications) -->
        <link href="assets/css/bootstrap.css" rel="stylesheet" />
        <!-- jQueryUI -->
        <link href="assets/css/appstart-theme/jquery.ui.all.css" rel="stylesheet" />
        <!-- Plugins stylesheets (all plugin custom css) -->
        <link href="assets/css/plugins.css" rel="stylesheet" />
        <!-- Main stylesheets (template main css file) -->
        <link href="assets/css/main.css" rel="stylesheet" />
        <!-- Custom stylesheets ( Put your own changes here ) -->
        <link href="assets/css/custom.css" rel="stylesheet" />
        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/img/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/img/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/img/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/img/ico/apple-touch-icon-57-precomposed.png">
        <link rel="icon" href="assets/img/ico/favicon.ico" type="image/png">
        <!-- Windows8 touch icon ( http://www.buildmypinnedsite.com/ )-->
        <meta name="msapplication-TileColor" content="#3399cc" />
    </head>
    <body ng-controller="pager" id="bdy" class="ovh qv" style="">
        <div id="preloader">
            <div id="preloader-logo">
                <img src="assets/img/preloader-logo.png" alt="Logo">
            </div>
            <div id="preloader-icon">
                <i class="im-spinner icons-spin"></i>
            </div>
        </div>
		<div id="all">
        <!-- Start #header -->
        <div id="header">
            <div class="container-fluid">
                <div class="navbar">
                    <div class="navbar-header">
                        <!-- Show navigation toggle on phones -->
                        <button id="showNav" class="navbar-toggle" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- Show logo for large screens and laptops -->
                        <a class="navbar-brand visible-lg visible-md">
                            <img src="assets/img/logo.png" alt="Jump start">
                        </a>
                        <!-- Show logo for small screens -->
                        <a class="navbar-brand hidden-lg hidden-md hidden-xs">
                            <img src="assets/img/logo-sm.png" alt="Jump start">
                        </a>
                    </div>
                    <nav id="top-nav" class="navbar-no-collapse" role="navigation">
                        <!-- Navbar nav -->
                        <ul class="nav navbar-nav pull-right" style="margin-top:0px">
                            <li class="hidden-lg hidden-md">
                                <!-- close button for search form in small screens -->
                                <button type="button" class="close closeSearchForm" aria-hidden="true">&times;</button>
                                <!-- show search button in small screens -->
                                <a class="resSearchBtn hidden-lg hidden-md" href="#"><i class="im-search3"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown">
                                    <i class="im-earth"></i>
                                    <i class="nav-notification im-circle2"></i>
                                    <span class="sr-only">Notifications</span>
                                </a>
                                <ul class="dropdown-menu right dropdown-notification" role="menu">
                                    <li><a href="#" class="dropdown-menu-header">Notifications</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#"><i class="im-user"></i> 1 User is registred</a>
                                    </li>
                                    <li><a href="#"><i class="im-bubble12" style="width: 20px;"></i> Lars add 1 comment</a>
                                    </li>
                                    <li><a href="#"><i class="im-power"></i> 5 min server downtime</a>
                                    </li>
                                    <li><a href="#"><i class="im-github3"></i> Anthony push 1 commit</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#" class="view-all">View all</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown">
                                    <i class="im-envelop2"></i>
                                    <span class="sr-only">New Emails</span>
                                </a>
                                <ul class="dropdown-menu dropdown-email right" role="menu">
                                    <li><a href="#" class="dropdown-menu-header">Messages</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="clearfix">
                                        <a href="#">
                                            <i class="im-bubble12" style="width: 20px;"></i>Hello, please check out my account i not have abbility to ...
                                            <span class="time-ago">1 min ago</span>
                                        </a>
                                    </li>
                                    <li class="clearfix">
                                        <a href="#">
                                            <i class="im-bubble12" style="width: 20px;"></i>I want to purchase one of your products can you help me ...
                                            <span class="time-ago">3 hours ago</span>
                                        </a>
                                    </li>
                                    <li class="clearfix">
                                        <a href="#">
                                            <i class="im-bubble12" style="width: 20px;"></i>I register in formum but not have access to write ...
                                            <span class="time-ago">15 hours ago</span>
                                        </a>
                                    </li>
                                    <li class="clearfix">
                                        <a href="#">
                                            <i class="im-bubble12" style="width: 20px;"></i>What`s happen with my order i already purchase it and ...
                                            <span class="time-ago">3 days ago</span>
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#" class="view-all">View all</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- End #header -->
        <!-- Start #sidebar -->
        <aside id="sidebar" class="collapse-sidebar">
            <!-- Start .sidebar-inner -->
            <div class="sidebar-inner">
                <!-- Start .toggle-sidebar -->
                <div class="toggle-sidebar">
                    <a href="#"><i class="im-arrow7"></i></a>
                </div>
                <!-- End .toggle-sidebar -->
                <!-- Start .option-buttons -->
                <div class="option-buttons">
                    <div class="option-buttons-inner">
                        <form id="search-nav">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Find menu item">
                                <i class="im-search3"></i>
                            </div>
                            <button type="submit" class="btn">submit</button>
                            <a id="close-search-nav" class="close" aria-hidden="true" href="#">&times;</a>
                        </form>
                        <a href="#" class="search-in-menu btn btn-default btn-sm tip" title="Search in navigation"><i class="im-search3"></i></a>
                        <a href="#" class="expand-subs btn btn-default btn-sm tip" title="Expand all SubMenus"><i class="im-sort2"></i></a>
                        <a href="#" class="mute-sounds btn btn-default btn-sm tip" title="Mute template sounds"><i class="im-volume-medium"></i></a>
                        <a href="#" class="reset-layout btn btn-default btn-sm tip" title="Reset panels position"><i class="im-spinner12"></i></a>
                        <a href="#" class="launch-fullscreen btn btn-default btn-sm tip" title="Launch full screen"><i class="im-expand"></i></a>
                    </div>
                </div>
                <!-- End .option-buttons -->
                <!-- Start .sidebar-scrollarea -->
                <div class="sidebar-scrollarea">
                    <h5 class="sidebar-title">Navigation</h5>
                    <ul id="sideNav" class="nav nav-pills nav-stacked">
                        <li><a ng-click="setTemplate('dashboard.html')" ng-class="curTemplate=='dashboard.html'?'active':'nota'" href=""><i class="im-screen"></i> <span id="stapp1" class="editable txt">Dashboard</span></a>
                        </li>
                        <li>
                            <a ng-class="curTemplate.substring(0,5)=='chart'?'active-state':'nota'" href="#"><i class="im-pie2"></i> <span id="stapp2"  class="editable txt">Charts</span></a>
                            <ul class="sub">
                                <li><a ng-class="curTemplate=='charts1.html'?'active':'nota'" ng-click="setTemplate('charts1.html')" href=""><i class="im-arrow-right3"></i> <span id="stapp3" class="editable txt">Sales on Margin</span></a>
                                </li>
                                <li><a ng-class="curTemplate=='charts2.html'?'active':'nota'" ng-click="setTemplate('charts2.html')" href=""><i class="im-arrow-right3"></i> <span id="stapp4" class="editable txt">Revenue by Sales</span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a ng-class="curTemplate.substring(0,5)=='table'?'active-state':'nota'" href="#"><i class="im-table2"></i> <span id="stapp5"  class="editable txt">Others</span></a>
                            <ul class="sub">
                                <li><a ng-class="curTemplate=='table1.html'?'active':'nota'" ng-click="setTemplate('table1.html')" href=""><i class="im-arrow-right3"></i> <span id="stapp6" class="editable txt">Cost Center</span></a>
                                </li>
                                <li><a ng-class="curTemplate=='table2.html'?'active':'nota'" ng-click="setTemplate('table2.html')" href=""><i class="im-arrow-right3"></i> <span id="stapp7" class="editable txt">Sales Comparison</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- End .sidebar-scrollarea -->
            </div>
            <!-- End .sidebar-inner -->
        </aside>
        <!-- End #sidebar -->
        <!-- Start #content -->
			<div id="content" style="margin-top: 57px;overflow: auto;height: 2000px;">
				<!-- Start .content-wrapper -->
				<div class="content-wrapper" style="height: 100%;">
					<ng-include class="qv" id="template" src="getTemplate()" onload="ready()"></ng-include>	
				</div>
			</div>
		</div>
    </body>
		<script src="assets/js/jq.js" type="text/javascript"></script>
		<!--GEN-->
        <script src="/resources/assets/external/requirejs/require.js?500"></script>
        <script src="assets/js/initMashups.js"></script>
        <link rel="stylesheet" href="/resources/assets/client/client.css" media="all">
        <link rel="stylesheet" href="/resources/autogenerated/qlikui.css">
		<!--ENDGEN-->

		<script src="assets/js/jquery.livequery.min.js" type="text/javascript"></script>
		<script src="assets/plugins/ui/bootbox/bootbox.js"></script>
        <!-- Bootstrap plugins -->
        <script src="assets/js/bootstrap/bootstrap.js"></script>
        <!-- Core plugins ( not remove ) -->
        <script src="assets/js/libs/modernizr.custom.js"></script>
        <!-- Handle responsive view functions -->
        <script src="assets/js/jRespond.min.js"></script> 
        <!-- Custom scroll for sidebars,tables and etc. -->
        <script src="assets/plugins/core/slimscroll/jquery.slimscroll.min.js"></script>
        <script src="assets/plugins/core/slimscroll/jquery.slimscroll.horizontal.min.js"></script>
        <!-- Highlight code blocks -->
        <script src="assets/plugins/misc/highlight/highlight.pack.js"></script>
        <!-- Handle template sounds -->
        <script src="assets/plugins/misc/ion-sound/ion.sound.js"></script>
        <!-- Proivde quick search for many widgets -->
        <script src="assets/plugins/core/quicksearch/jquery.quicksearch.js"></script>
        <!-- Prompt modal -->
		<!-- //Store, jquery.sparkline.js, BootBox cause requirejs ISSUES !! -->
        <script src="assets/js/jquery.appStart.js"></script>
        <script src="assets/js/app.js"></script>
</html>