<div id="page-heading" class="page-header">
	<h2><i class="icon im-home2"></i> Cost Center</h2>
	<!-- Start .bredcrumb -->
	<ul id="crumb" class="breadcrumb">
		<li><i class="im-home6"></i><a href="index.html">Home</a></li>
		<li> Cost Center</li>
	</ul>
	<!-- End .breadcrumb -->
</div>
<!-- Start .content-inner -->
<div class="content-inner">
	<!-- Start .row -->
	<div id="CurrentSelections" data-qvid="CurrentSelections" class="center qvobject"></div>
	<div class="row">
		<div class="col-lg-12 col-md-12 sortable-layout">
			<div class="panel panel-default plain toggle panelMove panelClose panelRefresh">
				<!-- Start .panel -->
				<div class="panel-heading">
					<h4 class="panel-title">Report</h4>
				</div>
				<div class="panel-body">
				   <div id="QV07" style="height: 500px;" class="qvplaceholder qvtarget"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- End .row -->
</div>