<div id="preloader2">
	<div id="preloader-logo2">
		<img src="assets/img/preloader-logo.png" alt="Logo">
	</div>
	<div id="preloader-icon2">
		<i class="im-spinner icons-spin"></i>
	</div>
</div>
<div id="page-heading" class="page-header">
	<h2 id="stapp24" class="editable"><i class="icon im-home2"></i> Sales Comparison</h2>
	<!-- Start .bredcrumb -->
	<ul id="crumb" class="breadcrumb">
		<li><i class="im-home6"></i>Home</li>
		<li id="stapp25" class="editable"> Sale Comparison</li>
	</ul>
	<!-- End .breadcrumb -->
</div>
<!-- Start .content-inner -->
<div class="content-inner">
	<!-- Start .row -->
	<div id="CurrentSelections" data-qvid="CurrentSelections" class="center qvobject"></div>
	<div class="row">
		<div class="col-lg-12 col-md-12 sortable-layout">
			<div class="panel panel-default plain toggle panelMove panelClose panelRefresh">
				<!-- Start .panel -->
				<div class="panel-heading">
					<h4 id="stapp26" class="editable panel-title">Report</h4>
				</div>
				<div class="panel-body">
				   <div id="QV08" style="height: 500px;" class="qvplaceholder qvtarget"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- End .row -->
</div>
<script>restoreObj();makeDroppy();$("#content").height($(window).height()-52);</script>