<div id="wrapper">

    <div id="content" class="content animate-panel">
        <div class="row">
            <div class="col-lg-12 text-center m-t-md">
                <h2 id="hmh1" class="editable">
                    Welcome to this Template
                </h2>

                <p id="hmh2" class="editable">
                    Theme for small and medium app with clean style and feel.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            <a class="closebox"><i class="fa fa-times"></i></a>
                        </div>
                        <span id="hmh3" class="editable">Dashboard information and statistics</span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 text-center">
                                <div id="QV01" style="width: 100%; height: 200px;" class="qvplaceholder qvtarget"></div>
                            </div>
                            <div class="col-md-6">
                                <div id="QV02" style="width: 100%; height: 200px;" class="qvplaceholder qvtarget"></div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div id="QV03" style="width: 100%; height: 200px;" class="qvplaceholder qvtarget"></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <span id="hmh4"  class="editable pull-right">
                              Footer
                        </span>
                        <span id="hmh5"  class="editable pull-left">
                          Last update: 21.05.2015
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="hpanel">
                    <div id="QV04" style="width: 100%; height: 200px;" class="qvplaceholder qvtarget"></div>
                    <div id="hmh6"  class="editable panel-footer">
                        This is standard panel footer
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="hpanel stats">
                    <div id="QV05" style="width: 100%; height: 200px;" class="qvplaceholder qvtarget"></div>
                    <div id="hmh7"  class="editable panel-footer">
                        This is standard panel footer
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="hpanel stats">
                    <div id="QV06" style="width: 100%; height: 200px;" class="qvplaceholder qvtarget"></div>
                    <div id="hmh8"  class="editable panel-footer">
                        This is standard panel footer
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="hpanel stats">
                    <div id="QV07" style="width: 100%; height: 200px;" class="qvplaceholder qvtarget"></div>
                    <div id="hmh9"  class="editable panel-footer">
                        This is standard panel footer
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="hpanel stats">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            <a class="closebox"><i class="fa fa-times"></i></a>
                        </div>
                        <span id="hmh10" class="editable">Last active</span>
                    </div>
                    <div class="panel-body">
                        <div id="QV08" style="width: 100%; height: 350px;" class="qvplaceholder qvtarget"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            <a class="closebox"><i class="fa fa-times"></i></a>
                        </div>
                        <span id="hmh11" class="editable">Recently active projects</span>
                    </div>
                    <div class="panel-body">
                        <div id="QV09" style="width: 100%; height: 350px;" class="qvplaceholder qvtarget"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            <a class="closebox"><i class="fa fa-times"></i></a>
                        </div>
                         <span id="hmh11b" class="editable">Activity</span>
                    </div>
                    <div class="panel-body">
                        <div id="QV10" style="width: 100%; height: 350px;" class="qvplaceholder qvtarget"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>