<div id="wrapper">

    <div id="content" class="content animate-panel">
        <div class="row">
            <div class="col-lg-12 text-center m-t-md">
                <h2 id="hmh12" class="editable">
                    Welcome to this First Page
                </h2>

                <p id="hmh13" class="editable">
                    Right-Click on any text to edit, right-click again to save.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            <a class="closebox"><i class="fa fa-times"></i></a>
                        </div>
                        <span id="hmh14" class="editable">One object</span>
                    </div>
                    <div class="panel-body">
                            <div id="QV11" style="width: 100%; height: 400px;" class="qvplaceholder qvtarget"></div>
                    </div>
                    <div class="panel-footer">
                        <span id="hmh15"  class="editable pull-right">
                              Footer
                        </span>
                        <span id="hmh16"  class="editable pull-left">
                          Last update: 21.05.2015
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            <a class="closebox"><i class="fa fa-times"></i></a>
                        </div>
                        <span id="hmh17" class="editable">Two object</span>
                    </div>
                    <div class="panel-body">
                        <div id="QV12" style="width: 100%; height: 400px;" class="qvplaceholder qvtarget"></div>
                    </div>
                    <div class="panel-footer">
                        <span id="hmh18"  class="editable pull-right">
                              Footer
                        </span>
                        <span id="hmh19"  class="editable pull-left">
                          Last update: 21.05.2015
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            <a class="closebox"><i class="fa fa-times"></i></a>
                        </div>
                        <span id="hmh20" class="editable">Three object</span>
                    </div>
                    <div class="panel-body">
                        <div id="QV13" style="width: 100%; height: 400px;" class="qvplaceholder qvtarget"></div>
                    </div>
                    <div class="panel-footer">
                        <span id="hmh21"  class="editable pull-right">
                              Footer
                        </span>
                        <span id="hmh22"  class="editable pull-left">
                          Last update: 21.05.2015
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>