<script src="vendor/bootstrap-tour/build/js/bootstrap-tour.min.js"></script>
<link rel="stylesheet" href="vendor/bootstrap-tour/build/css/bootstrap-tour.min.css" />
<div id="wrapper" style="min-height: 1337px;">
    <div class="normalheader transition animated fadeIn">
        <div class="hpanel tour-1">
            <div class="panel-body">
                <a class="small-header-action" href="">
                    <div class="clip-header">
                        <i class="fa fa-arrow-up"></i>
                    </div>
                </a>

                <div id="hbreadcrumb" class="pull-right m-t-lg">
                    <ol class="hbreadcrumb breadcrumb">
                        <li><a href="index.html">Dashboard</a></li>
                        <li>
                            <span>Interface</span>
                        </li>
                        <li class="active">
                            <span>Tour</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    Tour
                </h2>
                <small>The easiest way to show people how to use your website.</small>
            </div>
        </div>
    </div>
    <div class="content animate-panel">

        <div class="row">
            <div class="col-lg-12 animated-panel zoomIn" style="animation-delay: 0.1s;">
                <div class="hpanel tour-2">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            <a class="closebox"><i class="fa fa-times"></i></a>
                        </div>
                        Tour - how it works.
                    </div>
                    <div class="panel-body">

                        <div class="row">

                            <div class="col-lg-4 tour-3 animated-panel zoomIn" style="animation-delay: 0.2s;">
                                <p>
                                    <strong>Start</strong> tour example!
                                </p>
                                <button class="btn btn-success m-b-lg run-tour">Start Tour!</button>

                                <h5>
                                    Example text for tour purpose
                                </h5>

                                <p>
                                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that
                                    it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                                </p>

                                <div class="flot-chart" style="height: 50px">
                                    <div class="flot-chart-content" id="flot-income-chart" style="padding: 0px; position: relative;"><canvas class="flot-base" width="407" height="50" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 407px; height: 50px;"></canvas><canvas class="flot-overlay" width="407" height="50" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 407px; height: 50px;"></canvas></div>
                                </div>
                                <div class="m-t-xs">

                                    <div class="row">
                                        <div class="col-xs-5 animated-panel zoomIn" style="animation-delay: 0.2s;">
                                            <small class="stat-label">Today</small>
                                            <h4>$230,00 </h4>
                                        </div>
                                        <div class="col-xs-7 animated-panel zoomIn" style="animation-delay: 0.3s;">
                                            <small class="stat-label">Last week</small>
                                            <h4>$7 980,60 <i class="fa fa-level-up text-success"></i></h4>
                                        </div>
                                    </div>
                                </div>
                                <p>
                                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that
                                    it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                                </p>

                            </div>

                            <div class="col-lg-8 tour-4 animated-panel zoomIn" style="animation-delay: 0.4s;">
                                <h5>
                                    How to use it
                                </h5>

                                <p>
                                    Tour is very easy to use. All you have to do is to define main tour object
                                    <code>var tour = new Tour</code>. You can add <code>backdrop: true,</code> to add a gray background.
                                    Next you need to define a tour step with array:
                                </p>
                                <strong> Example:</strong>
                        <pre>
// Instance the tour
var tour = new Tour({
  steps: [
  {
    element: ".my-element",
    title: "Title of my step",
    content: "Content of my step"
  },
  {
    element: ".my-other-element",
    title: "Title of my step",
    content: "Content of my step"
  }
]});

// Initialize the tour
tour.init();

// Start the tour
tour.start();

                        </pre>

                            </div>

                        </div>

                        <div class="row">

                            <div class="col-lg-12 animated-panel zoomIn" style="animation-delay: 0.4s;">
                                <h5>
                                    Configuration
                                </h5>
                                <p>
                                    <strong>See full documentation of official tour plugin:</strong> <a href="http://bootstraptour.com/" target="_blank">http://bootstraptour.com/</a>.
                                </p>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Right sidebar -->
    <div id="right-sidebar" class="animated fadeInRight">

        <div class="p-m">
            <button id="sidebar-close" class="right-sidebar-toggle sidebar-button btn btn-default m-b-md"><i class="pe pe-7s-close"></i>
            </button>
            <div>
                <span class="font-bold no-margins"> Analytics </span>
                <br>
                <small> Lorem Ipsum is simply dummy text of the printing simply all dummy text.</small>
            </div>
            <div class="row m-t-sm m-b-sm">
                <div class="col-lg-6">
                    <h3 class="no-margins font-extra-bold text-success">300,102</h3>

                    <div class="font-bold">98% <i class="fa fa-level-up text-success"></i></div>
                </div>
                <div class="col-lg-6">
                    <h3 class="no-margins font-extra-bold text-success">280,200</h3>

                    <div class="font-bold">98% <i class="fa fa-level-up text-success"></i></div>
                </div>
            </div>
            <div class="progress m-t-xs full progress-small">
                <div style="width: 25%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" role="progressbar" class=" progress-bar progress-bar-success">
                    <span class="sr-only">35% Complete (success)</span>
                </div>
            </div>
        </div>
        <div class="p-m bg-light border-bottom border-top">
            <span class="font-bold no-margins"> Social talks </span>
            <br>
            <small> Lorem Ipsum is simply dummy text of the printing simply all dummy text.</small>
            <div class="m-t-md">
                <div class="social-talk">
                    <div class="media social-profile clearfix">
                        <a class="pull-left">
                            <img src="images/a1.jpg" alt="profile-picture">
                        </a>

                        <div class="media-body">
                            <span class="font-bold">John Novak</span>
                            <small class="text-muted">21.03.2015</small>
                            <div class="social-content small">
                                Injected humour, or randomised words which don't look even slightly believable.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="social-talk">
                    <div class="media social-profile clearfix">
                        <a class="pull-left">
                            <img src="images/a3.jpg" alt="profile-picture">
                        </a>

                        <div class="media-body">
                            <span class="font-bold">Mark Smith</span>
                            <small class="text-muted">14.04.2015</small>
                            <div class="social-content">
                                Many desktop publishing packages and web page editors.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="social-talk">
                    <div class="media social-profile clearfix">
                        <a class="pull-left">
                            <img src="images/a4.jpg" alt="profile-picture">
                        </a>

                        <div class="media-body">
                            <span class="font-bold">Marica Morgan</span>
                            <small class="text-muted">21.03.2015</small>

                            <div class="social-content">
                                There are many variations of passages of Lorem Ipsum available, but the majority have
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-m">
            <span class="font-bold no-margins"> Sales in last week </span>
            <div class="m-t-xs">
                <div class="row">
                    <div class="col-xs-6">
                        <small>Today</small>
                        <h4 class="m-t-xs">$170,20 <i class="fa fa-level-up text-success"></i></h4>
                    </div>
                    <div class="col-xs-6">
                        <small>Last week</small>
                        <h4 class="m-t-xs">$580,90 <i class="fa fa-level-up text-success"></i></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <small>Today</small>
                        <h4 class="m-t-xs">$620,20 <i class="fa fa-level-up text-success"></i></h4>
                    </div>
                    <div class="col-xs-6">
                        <small>Last week</small>
                        <h4 class="m-t-xs">$140,70 <i class="fa fa-level-up text-success"></i></h4>
                    </div>
                </div>
            </div>
            <small> Lorem Ipsum is simply dummy text of the printing simply all dummy text.
                Many desktop publishing packages and web page editors.
            </small>
        </div>

    </div>

    <!-- Footer-->
    <footer class="footer">
        <span class="pull-right">
            Example text
        </span>
        Company 2015-2020
    </footer>

</div>

<script>

    $(function () {


        // Instance the tour
        var tour = new Tour({
            backdrop: true,
            onShown: function(tour) {

                // ISSUE    - https://github.com/sorich87/bootstrap-tour/issues/189
                // FIX      - https://github.com/sorich87/bootstrap-tour/issues/189#issuecomment-49007822

                // You have to write your used animated effect class
                // Standard animated class
                $('.animated').removeClass('fadeIn');
                // Animate class from animate-panel plugin
                $('.animated-panel').removeClass('zoomIn');

            },
            steps: [
                {
                    element: ".tour-1",
                    title: "Page header",
                    content: "Place your page title and breadcrumb. Select small or large header or give the user choice to change the size.",
                    placement: "bottom"
                },
                {
                    element: ".tour-2",
                    title: "Tour title",
                    content: "Add any components you want from the Homer theme - graphs, tables, calendars, lists, create your unique app view with Homer.",
                    placement: "top"

                },
                {
                    element: ".tour-3",
                    title: "Tour title",
                    content: "This is a 3 step on our tour. You can easy set a placement of tour tooltip.",
                    placement: "right"

                },
                {
                    element: ".tour-4",
                    title: "Tour title",
                    content: "In this 4 step is a description of how to use tour directive.",
                    placement: "left"

                }
            ]});

        // Initialize the tour
        tour.init();

        // Restart the tour
        $('.run-tour').click(function(){
            tour.restart();
        });

    });

</script>