<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 id="admin1" class="editable page-title txt-color-blueDark" ><i class="fa-fw fa fa-home"></i> Dashboard <span>> My Dashboard</span></h1>
	</div>
</div>
<!-- widget grid -->
<section id="widget-grid" class="">

	<!-- row -->
	<div class="row">
		<article class="col-sm-12">
			<!-- new widget -->
			<div class="jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"

				-->
				<header>
					<span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
					<h2 id="w5" class="editable">Header (Right-click to edit, Right-click to save text)</h2>

					<ul class="nav nav-tabs pull-right in" id="myTab">
						<li class="active">
							<a data-toggle="tab" href="#s1"><i class="fa fa-clock-o"></i> <span id="w2" class="editable hidden-mobile hidden-tablet">Tab 1</span></a>
						</li>

						<li>
							<a data-toggle="tab" href="#s2"><i class="fa fa-facebook"></i> <span id="w3" class="editable hidden-mobile hidden-tablet">Tab 2</span></a>
						</li>

						<li>
							<a data-toggle="tab" href="#s3"><i class="fa fa-dollar"></i> <span id="w4" class="editable hidden-mobile hidden-tablet">Tab 3</span></a>
						</li>
					</ul>

				</header>

				<!-- widget div-->
				<div class="no-padding">
					<div class="widget-body">
						<!-- content -->
						<div id="myTabContent" class="tab-content">
							<div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
								<div class="row no-space">
									<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
										<div id="QV01" class="qvplaceholder qvtarget" style="height:200px"></div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <div id="QV02" class="qvplaceholder qvtarget" style="height:200px"></div>
									</div>
								</div>
							</div>
							<!-- end s1 tab pane -->

							<div class="tab-pane fade padding-10 no-padding-bottom" id="s2">
                                <div class="row no-space">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div id="QV03" class="qvplaceholder qvtarget" style="height:200px"></div>
                                    </div>
                                </div>
							</div>
							<!-- end s2 tab pane -->

							<div class="tab-pane fade padding-10 no-padding-bottom" id="s3">
                                <div class="row no-space">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div id="QV04" class="qvplaceholder qvtarget" style="height:200px"></div>
                                    </div>
                                </div>
                            </div>
							<!-- end s3 tab pane -->
						</div>

						<!-- end content -->
					</div>

				</div>
				<!-- end widget div -->
			</div>
			<!-- end widget -->

		</article>
	</div>

	<!-- end row -->

	<!-- row -->

	<div class="row">

		<article class="col-sm-12 col-md-12 col-lg-6">

			<!-- new widget -->
			<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false">

				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"

				-->

				<header>
					<span class="widget-icon"> <i class="fa fa-comments txt-color-white"></i> </span>
					<h2 id="w1" class="editable"> A widget </h2>
				</header>

				<!-- widget div-->
                <div>
                    <div class="widget-body">
                        <!-- content goes here -->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div id="QV05" class="qvplaceholder qvtarget" oriSize="200" style="height:200px"></div>
                        </div>

                        <!-- end content -->
                    </div>

                </div>
				<!-- end widget div -->
			</div>
			<!-- end widget -->

			<!-- new widget -->
			<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-2"  data-widget-editbutton="false">

				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"

				-->
				<header>
					<span class="widget-icon"> <i class="fa fa-calendar"></i> </span>
					<h2 id="w6" class="editable"> And Another</h2>
				</header>
				<!-- widget div-->
				<div>
					<div class="widget-body">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div id="QV06" class="qvplaceholder qvtarget" oriSize="200" style="height:200px"></div>
                        </div>
					</div>

				</div>
				<!-- end widget div -->
			</div>
			<!-- end widget -->

		</article>

		<article class="col-sm-12 col-md-12 col-lg-6">

			<!-- new widget -->
			<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-3"  data-widget-editbutton="false">
				<header>
					<span class="widget-icon"> <i class="fa fa-map-marker"></i> </span>
					<h2 id="w7" class="editable">One Widget</h2>
					<div class="widget-toolbar hidden-mobile">
					</div>
				</header>
                <div>
                    <div class="widget-body">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div id="QV07" class="qvplaceholder qvtarget" oriSize="200" style="height:200px"></div>
                        </div>
                    </div>

                </div>
			</div>
			<!-- end widget -->

			<!-- new widget -->
			<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-4" data-widget-editbutton="false">

				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"

				-->

				<header>
					<span class="widget-icon"> <i class="fa fa-check txt-color-white"></i> </span>
					<h2 id="w8" class="editable">Another one</h2>
					<!-- <div class="widget-toolbar">
					add: non-hidden - to disable auto hide

					</div>-->
				</header>

				<!-- widget div-->
				<div>
					<div class="widget-body">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div id="QV08" class="qvplaceholder qvtarget" oriSize="200" style="height:200px"></div>
                        </div>
					</div>

				</div>
				<!-- end widget div -->
			</div>
			<!-- end widget -->

		</article>

	</div>

	<!-- end row -->

</section>
<!-- end widget grid -->
<script type="text/javascript">
	pageSetUp();
    restoreObj();
</script>
