<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h1 class="page-title txt-color-blueDark">
			<i id="w25" class="editable fa fa-table fa-fw "></i>
				Some Large Areas
			<span>> 
				Good for Tables ;-)
			</span>
		</h1>
	</div>
</div>
<section id="widget-grid" class="">
	<div class="row">
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2 id="w26" class="editable">A Table (Right-click to edit, Right-click to save text) </h2>
				</header>
				<div>
					<div class="widget-body no-padding">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div id="QV25" class="qvplaceholder qvtarget" oriSize="600" style="height:600px;margin-top:5px"></div>
                        </div>
					</div>
				</div>
			</div>
			<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false">
				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2 id="w27" class="editable">Another Table </h2>
				</header>
				<div>
					<div class="widget-body no-padding">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div id="QV26" class="qvplaceholder qvtarget" oriSize="600" style="height:600px;margin-top:5px"></div>
                        </div>
					</div>
				</div>
			</div>
			<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-2" data-widget-editbutton="false">
				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2 id="w28" class="editable">Hey, a Table </h2>

				</header>
				<div>
					<div class="widget-body no-padding">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div id="QV27" class="qvplaceholder qvtarget" oriSize="600" style="height:600px;margin-top:5px"></div>
                        </div>
					</div>
				</div>
			</div>
		</article>
	</div>
</section>
<script type="text/javascript">
	pageSetUp();
    restoreObj();
    makeEdit();
</script>
