.sel-toolbar-span-icon{

}
@font-face {
	font-family: 'QlikView Sans';
	src: url(../fonts/qlikview-sans.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'QlikView Sans';
	src: url(../fonts/qlikview-sans-bold.ttf) format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'QlikView Sans';
	src: url(../fonts/qlikview-sans-italic.ttf) format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'QlikView Sans';
	src: url(../fonts/qlikview-sans-bold-italic.ttf) format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'QlikView Icons';
	src: url(../fonts/qlikview-icons.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

div.buttons.borderbox{
	width:134px;
}
div.qv-selection-toolbar{

}

.qv-viz-center-disclaimer{
	left:0px;
}
#CurrentSelections:hover{
	opacity:1;
	transition: opacity 1s linear;
}

#CurrentSelections.hideSel{
	opacity:0;
	transition: visibility 0s 1s, opacity 1s linear;
}

#CurrentSelections{
	opacity:0.6;
	position:fixed;
	top:0px;
	width:100%;
	z-index:2000;
	transition: visibility 0s 1s, opacity 1s linear;
}
.qv-chart-tooltip-content table{
	color:white;
}
@media(max-width: 1300px)
{
    .qv.video { display : none; }
	.change.carousel-caption{color:black}
}
@media(min-width: 1301px){
.change.carousel-caption{color:black}
.video 
{
    min-width: 100%;
    min-height: 100%;
	z-index:2;
	top:-300px;
	position:absolute;
}
.qv.alter { display : none; }
}

.carousel{
	background-color:rgb(121, 121, 121);
}

.carousel.carousel-fade .item {
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	opacity:0.6;
}

.carousel.carousel-fade .active.item {
	opacity:1;
}

.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
	left: 0;
	z-index: 2;
	opacity: 0;
	filter: alpha(opacity=0);
}

.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
	left: 0;
	z-index: 1;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */

/*fix selection box*/
.qv-panel-current-selections .item{
		height:35px;
	}
.navbar-wrapper {
  position: absolute;
  margin-left:auto;
  margin-right:auto;
  width:100%;
  top: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 230px;
  margin-bottom: 20px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 250px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.carousel-control{
	z-index:30;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

.change h1, .change .sub {
 font-weight:bolder;
 background-color: white;
 border-radius: 30px;
 width: 350px;
 opacity: 0.7;
 
}
@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
