div.qv-global-selections {
    margin-left: 100px;
    margin-right: auto;
    top: 56px;
    width: 80%;
    height: -webkit-calc(100% - 276px);
    height: calc(100% - 276px);
}
.qvplaceholder.drop-hover{
    border: 3px solid #ff8e00;
}

.qvtarget{
    border: 1px dashed #269abc;
}

.qv-panel-current-selections .buttons .qv-subtoolbar-button, .qv-panel-current-selections .buttons-end .qv-subtoolbar-button{
    border-bottom: 0px;
}
.wrap.borderbox,.qv-panel-current-selections .buttons{
    border-right: 0px !important;
}
.qv-panel-current-selections .buttons-end{
    box-shadow:0px 0px 0px 0px rgba(64, 63, 62, 0.4);
}
.qv-panel-current-selections,.qv-panel-current-selections .buttons, .qv-panel-current-selections .buttons-end,.qv-panel-current-selections .buttons .qv-subtoolbar-button, .qv-panel-current-selections .buttons-end .qv-subtoolbar-button{
    background: none;
    color: #808080;
}
.qv-panel-current-selections .buttons .qv-subtoolbar-button:hover:enabled, .qv-panel-current-selections .buttons-end .qv-subtoolbar-button:hover:enabled,.qv-panel-current-selections .buttons-end .qv-subtoolbar-button.active{
    background:none;
}

.qv-panel-current-selections .buttons .qv-subtoolbar-button i:hover, .qv-panel-current-selections .buttons-end .qv-subtoolbar-button i:hover{
    background: none;
}
.qv-panel-current-selections .wrap{
    border-bottom-width:0px;
}
.qv-panel-current-selections .buttons .qv-subtoolbar-button:disabled, .qv-panel-current-selections .buttons-end .qv-subtoolbar-button:disabled {
    background: none;

}
.qv-panel-current-selections .no-selection{
    color: #808080;
}
.qv-panel-current-selections .item{
    color: #808080;
}
.qv-panel-current-selections ul li{
    background: none;
}
.clients-section ul li a{
    padding: 0px;
}
.clients-section.parallaxBg{
    padding-top: 10px;
}
.title-v1Selection{
    margin-bottom: 0px;
}